{% extends "books/layout.html" %}

{% block content %}
<h2>{{ book.book_name }}</h2>
<ul>
    <li> {{book.book_text|linebreaks}} </li>
</ul>
<br>
<p>
  <p>NUMBER OF CLICKS:{{ book.numberOfClicks}}</p>
  {%if user.is_authenticated%}
  <h3>Comments: </h3>
  {% if comments %}
  {% for comment in comments %}
  <p><b>*{{comment.user.username}}* left this comment: </b></p>
    <p> {{comment.comment_text}}</p>

  {% endfor %}
  {% else %}
    <p>No comments on this article yet</p>
  {% endif %}

  <form class="" action="" method="post">
    {% csrf_token %}
    <textarea name="comments_text" rows="8" cols="80" placeholder="Leave your thoughts"></textarea>
    <input type="hidden" name="username" value="{{user.username}}">
    <br><input type="submit" name="" value="Submit">
  </form>
  {%endif%}
  {% endblock content%}
