<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="google-site-verification" content="OU5J9wKJgF-ZGbFs219c2ECuH3an1wcLKVNuOTIQ8uU" />
	<meta name="google-site-verification" content="OU5J9wKJgF-ZGbFs219c2ECuH3an1wcLKVNuOTIQ8uU" />		
		<script   src="https://code.jquery.com/jquery-3.3.1.min.js"   integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="   crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<link rel='stylesheet' href='../css/bootstrap.css'>
	<script type="text/javascript" src='../js/bootstrap.js'></script>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="yandex-verification" content="5e02e07b2c645462" />
	<link rel="stylesheet" type="text/css" href="../css/MyFontsWebfontsKit.css">
		<link rel="icon" href="/favicon.ico" type="image/x-icon">
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link rel="apple-touch-icon" sizes="57x57" href="/images/apple-touch-icon-57x57.png" />
		<link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png" />
		<link rel="apple-touch-icon" sizes="76x76" href="/images/apple-touch-icon-76x76.png" />
		<link rel="apple-touch-icon" sizes="114x114" href="/images/images/apple-touch-icon-114x114.png" />
		<link rel="apple-touch-icon" sizes="120x120" href="/images/apple-touch-icon-120x120.png" />
		<link rel="apple-touch-icon" sizes="144x144" href="/images/apple-touch-icon-144x144.png" />
		<link rel="apple-touch-icon" sizes="152x152" href="/images/apple-touch-icon-152x152.png" />
<!--
		<script type="text/javascript" src="//vk.com/js/api/openapi.js?116"></script>
		<script type="text/javascript" src="//vk.com/js/api/openapi.js?116"></script>

		<script type="text/javascript">
		  VK.init({apiId: 4688828, onlyWidgets: true});
		</script>
-->
		<title>Что почитать? Подборки книг</title><meta name='description' content='Выберите что почитать в онлайн библиотеке ReadBooks.me'><meta name='keywords' content=' Читать книги онлайн бесплатно ReadBooks.me'><title>Что почитать? Подборки книг</title><meta name='description' content='Выберите что почитать в онлайн библиотеке ReadBooks.me'><meta name='keywords' content=' Читать книги онлайн бесплатно ReadBooks.me'>		
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-4431679075323255",
          enable_page_level_ads: true
     });
</script>
</head>
<body>
	
	<div class="container bt-header-container">
		<div class="row">
			<h2>
				<a href="/" style="font-weight: bold; font-size: 30px;">ReadBooks.me</a>
			</h2>
			<div class="navbar navbar-default">
				<div class="container bt-header-menu">
					<div class="navbar-header">
<!--
						<a class="navbar-brand" href="http://readbooks.me">
							<img alt="Readbooks.me онлайн библиотека" src="images/logo_header_eng.png"/>
						</a>
-->
						 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu-res">
						 <span class="sr-only">Меню</span>
						 <span class="icon-bar"></span>
						 <span class="icon-bar"></span>
						 <span class="icon-bar"></span>
						 <span class="icon-bar"></span>

						 </button>
					</div> 
					<div class="collapse navbar-collapse" id="menu-res">
						<ul class="nav navbar-right navbar-nav bt-ul-nav">
							<li><a href="/">НА ГЛАВНУЮ</a></li>
							<li><a href="../genre/">ЖАНРЫ</a></li>
							<li><a href="../articles/">ЧТО ПОЧИТАТЬ?</a></li>
							<li><a href="../contact/">СВЯЗАТЬСЯ С НАМИ</a></li>
							<li> <script>
									  (function() {
									    var cx = '007952495806957646548:ttzxtjoyijm';
									    var gcse = document.createElement('script');
									    gcse.type = 'text/javascript';
									    gcse.async = true;
									    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
									        '//www.google.com/cse/cse.js?cx=' + cx;
									    var s = document.getElementsByTagName('script')[0];
									    s.parentNode.insertBefore(gcse, s);
									  })();
								</script>
								<gcse:search></gcse:search>
							</li>
						</ul>
						
					</div>
				</div>
			</div>
		</div>
	</div>	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-11 col-sm-11 col-xs-11"> <!-- общий экран, внутри цикл вывода статей -->
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 main_article_item_in_list">
						<div class="main_article_list">
							<a href="?art=pochitat_detyam">
								<img src="/images/articles/detyam.jpg" />
							</a>
						</div>
						<h2>
							<a href="/articles/?art=pochitat_detyam" class="article_list_header">
								Что почитать детям?							</a>
						</h2>
						<p>
							Скорее всего, не существует такого ребенка, который не любил бы слушать чтение вслух.
Разве не так?
Да и родителям очень нравится читать своим малышам. Ведь чтение представляет собой момент радостного, столь душевного, искреннего и теплого общения родителей со своими малышами.
Именно с помощью книги, увлекательной, доброй книги (для детей дошкольного возраста), родители и дети могут вместе перенестись в волшебный, столь чудесный, захватывающий мир выбранной книги.													</p>
					</div> 
										<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 main_article_item_in_list">
						<div class="main_article_list">
							<a href="?art=top-knig-menyaushih-mirovozrenie">
								<img src="/images/articles/filosofskoe_mirovozzrenie.jpg" />
							</a>
						</div>
						<h2>
							<a href="/articles/?art=top-knig-menyaushih-mirovozrenie" class="article_list_header">
								15 книг, меняющих мировоззрение.							</a>
						</h2>
						<p>
							Книга – «удивительный продукт», который способен не только предоставить своему читателю колоссальное количество «калорийной пищи» для размышления, но и заставить его душу летать.
													</p>
					</div> 
										<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 main_article_item_in_list">
						<div class="main_article_list">
							<a href="?art=top-ujutnih-knig">
								<img src="/images/articles/yut-v-dome.jpg" />
							</a>
						</div>
						<h2>
							<a href="/articles/?art=top-ujutnih-knig" class="article_list_header">
								15 уютных книг для холодных вечеров							</a>
						</h2>
						<p>
							Как бы там ни было, но каждому человеку известно о том, что порой и сердце и разум требуют уюта, тепла…
													</p>
					</div> 
										<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 main_article_item_in_list">
						<div class="main_article_list">
							<a href="?art=top-knig-derjashih-v-napryajenii">
								<img src="/images/articles/чтение_наоборот_large.jpg" />
							</a>
						</div>
						<h2>
							<a href="/articles/?art=top-knig-derjashih-v-napryajenii" class="article_list_header">
								Топ 10 книг, держащих в напряжении до самого конца							</a>
						</h2>
						<p>
							Если вам уже надоели банальные любовные или простые и с предсказуемым концом книги, тогда вам пора всерьез заинтересоваться остросюжетной литературой. 													</p>
					</div> 
								</div>
			<div class=' col-lg-3 col-md-12 col-sm-12 col-xs-12 sidebar'>
				<div class='sidebar_categories'>
					<h3>
						<span>
							&nbsp;Категории&nbsp;
						</span>
					</h3>
					﻿	<ul>

			<li>
				<a href='/genre/?genre=Современные любовные романы'>
					Современные любовные романы				</a>
							
		
			<li>
				<a href='/genre/?genre=Детективы'>
					Детективы				</a>
							
		
			<li>
				<a href='/genre/?genre=Современная проза'>
					Современная проза				</a>
							
		
			<li>
				<a href='/genre/?genre=Фэнтези'>
					Фэнтези				</a>
							
		
			<li>
				<a href='/genre/?genre=Любовно-фантастические романы'>
					Любовно-фантастические романы				</a>
							
				<li>
			<a href='/genre/' style="float:right; text-decoration: underline">
					Все жанры
				</a>
		</li>
	</ul>
				</div>
				﻿	
	
	
	<div style='clear:both;'></div>
	<div class='sidebar_popular'>
		<h3>
			<span>
				&nbsp;Популярное&nbsp;
			</span>
		</h3>
						<div class='sidebar_popular_single_book'>
					<a href='/books/?name=na-pyatdesyat-ottenkov-temnee'>
						<img width='150' height='150' title="На 50 оттенков темнее" alt='Читать На 50 оттенков темнее онлайн' src='../images/books/na-pyatdesyat-ottenkov-temnee.jpg' />
					</a>
					<div class='sidebar_popular_single_book_text'>
						<a href='/books/?name=na-pyatdesyat-ottenkov-temnee'>
							На 50 оттенков темнее						</a>
						<p style="display: inline-block;">
							Просмотров: 876119						</p>
					</div>
				</div>
							<div class='sidebar_popular_single_book'>
					<a href='/books/?name=50-ottenkov-svobodi'>
						<img width='150' height='150' title="50 оттенков свободы" alt='Читать 50 оттенков свободы онлайн' src='../images/books/50-ottenkov-svobodi.jpg' />
					</a>
					<div class='sidebar_popular_single_book_text'>
						<a href='/books/?name=50-ottenkov-svobodi'>
							50 оттенков свободы						</a>
						<p style="display: inline-block;">
							Просмотров: 654175						</p>
					</div>
				</div>
							<div class='sidebar_popular_single_book'>
					<a href='/books/?name=pyatdesyat-ottenkov-serogo'>
						<img width='150' height='150' title="50 Оттенков серого" alt='Читать 50 Оттенков серого онлайн' src='../images/books/50-ottenkov.jpg' />
					</a>
					<div class='sidebar_popular_single_book_text'>
						<a href='/books/?name=pyatdesyat-ottenkov-serogo'>
							50 Оттенков серого						</a>
						<p style="display: inline-block;">
							Просмотров: 485695						</p>
					</div>
				</div>
							<div class='sidebar_popular_single_book'>
					<a href='/books/?name=50-dney-do-moego-samoubiystva'>
						<img width='150' height='150' title="50 дней до моего самоубийства" alt='Читать 50 дней до моего самоубийства онлайн' src='../images/books/50-dney-do-moego-samoubiystva.jpg' />
					</a>
					<div class='sidebar_popular_single_book_text'>
						<a href='/books/?name=50-dney-do-moego-samoubiystva'>
							50 дней до моего самоубийства						</a>
						<p style="display: inline-block;">
							Просмотров: 304736						</p>
					</div>
				</div>
							<div class='sidebar_popular_single_book'>
					<a href='/books/?name=do-vstrechi-s-toboy'>
						<img width='150' height='150' title="До встречи с тобой" alt='Читать До встречи с тобой онлайн' src='../images/books/do-vstrechi-s-toboy.jpg' />
					</a>
					<div class='sidebar_popular_single_book_text'>
						<a href='/books/?name=do-vstrechi-s-toboy'>
							До встречи с тобой						</a>
						<p style="display: inline-block;">
							Просмотров: 211991						</p>
					</div>
				</div>
				</div>			</div>
		</div>
	</div>
	
<div class="container text-center footer_info" >
    <div class="row" style="position: re">
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" >
	        <a href="/sitemap.php">Карта сайта</a><br/>
	        
<!-- 			Google analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-91024565-1', 'auto');
  ga('send', 'pageview');

</script>
<!-- end google -->


	    </div>
	            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
	         <p>Читать полные книги онлайн в библиотеке ReadBooks.me. Все материалы взяты из открытых источников и представлены исключительно в ознакомительных целях. Все права на книги принадлежат их авторам и издательствам.</p>
	        
	    </div>

        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
	        		e-mail: support@readbooks.me
	        		<br />
	                   <a href="/">© 2014-2019 ReadBooks.me</a>
        </div>
    </div>
    <div style="display:none;">
		<!--LiveInternet counter--><script type="text/javascript"><!--
		document.write("<a href='//www.liveinternet.ru/click' "+
		"target=_blank><img src='//counter.yadro.ru/hit?t50.6;r"+
		escape(document.referrer)+((typeof(screen)=="undefined")?"":
		";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
		screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
		";"+Math.random()+
		"' alt='' title='LiveInternet' "+
		"border='0' width='31' height='31'><\/a>")
		//--></script><!--/LiveInternet-->
	</div>

</div>
